library/gen/
library/out/
library/*.iml
library/.idea/
library/ant.properties
library/build.xml
library/local.properties
library/proguard-project.txt
library/project.properties


example/gen/
example/out/
example/LinkDroid.iml
example/.idea/

